* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Jaro;
  src: url(../assets/fonts/Jaro-Regular-VariableFont_opsz.ttf);
}
h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: Jaro;
  color: #fffffe;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

a, p {
  font-size: 14px;
  text-decoration: none;
}

.login-button {
  padding: 8px 15px;
  background-color: #eebbc3;
  border: 1px solid #eebbc3;
  border-radius: 3px;
  color: #232946;
  cursor: pointer;
}

.login-button:hover {
  background-color: #eebbc3;
}

.buttonform {
  background-color: #232946;
  color: #fffffe;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #232946;
}

header {
  background-color: #232946;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #b8c1ec;
}
header .nav-justified {
  justify-content: flex-start !important;
}
header .nav-color {
  background-color: #b8c1ec;
}
header .nav-color-a {
  color: aliceblue !important;
}

.main_index {
  background-color: #232946;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main_index h1 {
  padding-bottom: 50px;
}
.main_index .margin_main {
  margin-bottom: 40px;
}
.main_index .index-noticias article {
  margin: 5px;
  vertical-align: top;
  flex-wrap: wrap;
  border-bottom: solid 1px #b8c1ec;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_index .index-noticias article img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 7px;
}
.main_index .section-milista {
  border-bottom: solid 1px #b8c1ec;
}
.main_index .section-milista article {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}
.main_index .section-milista article img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding-bottom: 20px;
}
.main_index .section-milista article img:hover {
  transform: scale(1.1);
}
.main_index .continua-viendo article {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
}
.main_index .continua-viendo article img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding-bottom: 20px;
}
.main_index .continua-viendo article img:hover {
  transform: scale(1.1);
}

.explorar {
  background-color: #d4939d;
  padding: 30px;
}
.explorar .explorar-categorias h1 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  color: #232946;
}
.explorar .explorar-categorias ul li {
  color: #232946;
  list-style: none;
  margin: 10px;
  background-color: #eebbc3;
  padding: 10px 20px;
  border: 1px solid #ccc;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.explorar .explorar-categorias ul li a {
  text-decoration: none;
  font-size: 30px;
}
.explorar .explorar-categorias ul li a:hover {
  color: #232946;
}
.explorar .explorar-categorias ul li a:visited {
  color: #232946;
}

.main-horario {
  background-color: #232946;
}

.div-table {
  padding: 30px;
}

.table tbody tr td img {
  width: 150px;
  height: 250px;
}

.top {
  background-color: #232946;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.top .top-div-ol {
  columns: 2;
}
.top .top-div-ol li {
  padding: 15px;
  color: aliceblue;
}
.top .top-div-ol li img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding-bottom: 25px;
}
.top .top-div-ol li img:hover {
  transform: scale(1.1);
}

.main-noticias {
  background-color: #232946;
  padding: 50px 50px 200px 50px;
}
.main-noticias .section-noticias {
  display: grid;
  grid-template-areas: "calendario calendario" "noticia1 noticia2";
  grid-template-rows: 1fr 300px;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.main-noticias .section-noticias .art-calendario {
  float: left;
  padding: 30px 15px;
  margin-bottom: 20px;
  align-items: center;
  grid-area: calendario;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-noticias .section-noticias .art-calendario h3 {
  padding-bottom: 25px;
}
.main-noticias .section-noticias .art-calendario img {
  width: 100%;
  height: 100%;
}
.main-noticias .section-noticias .art-noticias {
  float: left;
  padding: 30px 20px;
  grid-area: noticia1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-noticias .section-noticias .art-noticias .trailer-kimetsu {
  width: 100%;
  height: 100%;
}
.main-noticias .section-noticias .art-noticias2 {
  float: left;
  padding: 30px 20px;
  grid-area: noticia2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main-noticias .section-noticias .art-noticias2 img {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .section-noticias {
    grid-template-rows: 1fr 0.5fr !important;
    grid-template-columns: 1fr 1fr;
  }
}
.main-contacto {
  background-color: #eebbc3;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.form-container .h1_form {
  color: #232946;
}
.form-container .form {
  background-color: #d4939d;
  padding: 20px;
  border-radius: 5px;
}
.form-container .form .form-group {
  margin-bottom: 20px;
  color: #232946;
  font-family: Jaro;
}
.form-container label {
  display: block;
  font-weight: bold;
}
.form-container .form_text, .form-container .form_email, .form-container .form_textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form-container .form_textarea {
  resize: vertical;
  min-height: 100px;
}

footer {
  background-color: #232946;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  border-top: solid 1px #b8c1ec;
}
footer .footer-section {
  flex: 1;
  margin-right: 20px;
}
footer .footer-section h3 {
  margin-bottom: 10px;
}
footer .footer-section ul {
  list-style-type: none;
  padding: 0;
}
footer .footer-section ul li {
  margin-bottom: 5px;
}
footer .footer-section ul li a {
  color: #eebbc3;
}
footer .footer-section p {
  margin: 5px 0;
  color: #b8c1ec;
}
footer .footer-section:last-child {
  margin-right: 0;
}

/*# sourceMappingURL=main.css.map */
