$color-text-primary: #fffffe;
$color-text-secondary: #232946;
$color-text-tertiary: #eebbc3;
$color-text-quaternary: #b8c1ec;
$color-primary: #232946;
$color-secondary: #eebbc3;
$color-tertiary: #d4939d;
$color-quaternary: #b8c1ec;
$font-family-primary: Jaro;