footer {
	background-color: $color-primary;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
	border-top: solid 1px $color-quaternary;

    .footer-section {
        flex: 1;
        margin-right: 20px;

        h3 {
            margin-bottom: 10px;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                margin-bottom: 5px;

                a {
                    color: $color-text-tertiary;
                }
            }   
        }

        p {
            margin: 5px 0;
            color: $color-text-quaternary;
        }
    }

    .footer-section:last-child {
        margin-right: 0;
    }
}
