.main_index {
	background-color: $color-primary;
	margin: 0;
	padding: 20px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

    h1 {
        padding-bottom: 50px;
    }

    .margin_main{
        margin-bottom: 40px;
    }

    .index-noticias article{
        display: flex;
        margin: 5px;
        vertical-align: top;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: solid 1px $color-quaternary;
    
        img {
            width: 50%;
            height: 50%;
            object-fit: cover;
            border-radius: 7px;
        }
    }

    .section-milista {
        border-bottom: solid 1px $color-quaternary;
    
        article {
        display: inline-block;
        margin: 5px;
        vertical-align: top;


        img {
            width: 200px;
            height: 300px;
            object-fit: cover;
            padding-bottom: 20px;
        }

        img:hover{
            transform: scale(1.1);
        }
    }}

    .continua-viendo article {
        display: inline-block;
        margin: 5px;
        vertical-align: top;
    
        img {
            width: 200px;
            height: 300px;
            object-fit: cover;
            padding-bottom: 20px;
        }
        
        img:hover{
            transform: scale(1.1);
        }
    }
    
}