.main-noticias {
    background-color:$color-primary;
    padding: 50px 50px 200px 50px;

    .section-noticias{
        display: grid;
        grid-template-areas: 
        "calendario calendario"
        "noticia1 noticia2";
        grid-template-rows: 1fr 300px; 
        grid-template-columns: 1fr 1fr;
        gap: 15px;

        .art-calendario {
            float: left;
            padding: 30px 15px ;
            margin-bottom: 20px;
            align-items: center;
            grid-area: calendario;
            @include flex-column-space;
        
            h3{
                padding-bottom: 25px;
            }
            
            img{
                width: 100%;
                height: 100%;
            }
        }

        .art-noticias {
            float: left;
            padding: 30px 20px;
            grid-area: noticia1;
            @include flex-column-flexstart;
    
            .trailer-kimetsu {
                width: 100%;
                height: 100%;
            }
        }

        .art-noticias2{
            float: left;
            padding: 30px 20px;
            grid-area: noticia2;
            @include flex-column-flexstart;
        
            img{
                width: 100%;
                height: 100%;
            }
        }
      }
  }

 @media (min-width: 768px) {
    .section-noticias{
        grid-template-rows: 1fr 0.5fr !important;
        grid-template-columns: 1fr 1fr;
    } 
  }