.top{
	display: flex;
	flex-direction: row;
	background-color: $color-primary;
	justify-content: center;
	padding: 30px;

    .top-div-ol {
        columns: 2;
        
        li{
        padding: 15px;
        color: aliceblue;
    
        img{
            width: 200px;
            height: 300px;
            object-fit: cover;
            padding-bottom: 25px;
        }

        img:hover{
            transform: scale(1.1);
        }
    }}

    
}